 .HomeWorkList {
     list-style-type: none;
     padding: 0;
 }

 .titleAndAddButton {
     display: flex;
     padding: 10px;
 }

 .homeworkTitle {
     flex-grow: 1
 }

 .HomeworkList__list {
     list-style-type: none;
     padding: 0;
 }

 @media screen and (max-width:450px) {
    .titleAndAddButton {
        display: block;
        padding: 10px;
    }

    .addHomeWorkPath{
        margin-top:10px;
    }
}