 .HomeWorkList {
     list-style-type: none;
     padding: 0;
 }

 .titleAndAddButton {
     display: flex;
     padding: 10px;
 }

 .homeworkTitle {
     flex-grow: 1;
     font-weight: bold;
 }

 .HomeworkList__list {
     list-style-type: none;
     padding: 0;
 }

 @media screen and (max-width:500px) {
     .titleAndAddButton {
         display: block;
         padding: 10px;
     }
     .addHomeWorkPath {
         margin-top: 10px;
     }
     .addClassPath {
         display: block;
         margin-top: 10px;
     }
 }