.classDetailsHeading {
  text-align: center;
  margin-top: 20px;
}

.class-details {
  display: block;
  height: 700px;
  width: 600px;
  margin: 0 auto;
  background-color: #ebebeb;
}

.class-details label {
  display: inline-block;
  margin-left: 80px;
  margin-right: 20px;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}

.day-check {
  float: left;
}

.class-details input, .homeworkDetails input {
  margin-bottom: 10px;
}

#sun, #mon, #tue, #wed, #thurs, #fri, #sat {
  margin-top: 6px;
}

.addClass__button__group .saveClassButton {
  display: block;
  margin: 20px auto;
}

.classDetailsHeading {
  padding-top: 10px;
}

.starttime {
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .class-details {
    max-width: 80%;
    height: 100%;
  }
  .class-details input {
    display: block;
    margin: 0 auto;
  }
  .class-details label {
    display: block;
    padding-top: 5px;
    text-align: center;
  }
  .class-details input {
    margin-bottom: 0px;
  }
  .start-label {
    margin-top: 10px;
  }
  .starttime, #endtime {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
  }
  .starttime-label {
    margin-top: 20px;
  }
  .class-details .addClass__button__group {
    padding-bottom: 20px;
  }
  .class-details .addClass__button__group button {
    margin: 20px auto
  }
}