.classDetailsHeading{
  text-align: center;
  margin-top: 20px;
}

.class-details
{ 
  /*text-align: center;*/  
  display:block;
  height: 600px;
    width: 600px;
    margin:0 auto;
    background-color: #ebebeb;
}

label {
  display:inline-block;
  margin-left: 80px;
  margin-right: 20px;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}

input {
  margin-bottom:10px;
}

select{
  margin-top:5px;
}

#sun,#mon,#tue,#wed,#thurs,#fri,#sat{
  margin-top:6px;
}

.saveClassButton{
  display: block;
  margin: 20px auto;
}