.classDetailsHeading{
  text-align: center;
  margin-top: 20px;
}

.class-details
{ 
  /*text-align: center;*/  
  display:block;
  height: 700px;
    width: 600px;
    margin:0 auto;
    background-color: #ebebeb;
}

label {
  display:inline-block;
  margin-left: 80px;
  margin-right: 20px;
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 140px;
}

.class-details input, .homeworkDetails input{
  margin-bottom:10px;
}

.class-details select, .homeworkDetails select{
  margin-top:5px;
}

#sun,#mon,#tue,#wed,#thurs,#fri,#sat{
  margin-top:6px;
}

 .addClass__button__group .saveClassButton{
  display: block;
  margin: 20px auto;
}

.classDetailsHeading{
  padding-top: 10px;
}

@media screen and (max-width:600px) {
  .class-details
{ 
  max-width: 80%;
  height: 100%;
}

  .class-details input{
    display: block;
    margin: 0 auto;
  }

  .class-details label{
      display:block;
  
    padding-top: 5px;
    text-align: center;
    }

    .class-details input {
      margin-bottom:0px;
    }
  
    .class-details select{
      display:block;
      margin: 0 auto;
    }

    .class-details .addClass__button__group{
      padding-bottom: 20px;
    }

    .class-details .addClass__button__group button{
      margin: 20px auto
    }
}