.classDetailsHeading{
    text-align: center;
  }
  
  .class-details
  {   height: 600px;
      width: 600px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ebebeb;
  }
  
 