.HomeworkItem__row
{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
}

.HomeworkItem__row .homeworkDescription, .schoolClass, .dueDate, .dueTime{
    margin:0;
    padding:10px;
}
