.homework-details
{   
     /*text-align: center;*/  
  display:block;
  height: 700px;
    width: 600px;
    margin:0 auto;
    background-color: #ebebeb;
}

.homework-type{
  margin-top: 10px;
}

.addHomework__button__group .saveHomeworkButton{
  display: block;
  margin: 20px auto;
}

.homeworkDetailsHeading{
  padding-top: 30px;
  text-align: center;
}

.classType, .schoolclass{
  margin-bottom: 10px;
}

@media screen and (max-width:600px) {
  .homework-details
{ 
  max-width: 80%;
}

.homework-details input{
  display: block;
  margin: 0 auto;
}

.homework-details label{
    display:block;

  padding-top: 5px;
  text-align: center;
  }

  .homework-details input {
    margin-bottom:0px;
  }

  .homework-details select{
    display:block;
    margin: 0 auto ;
    margin-top: 30px;
  }

  .homework-details .addClass__button__group{
    padding-bottom: 20px;
  }

  .homework-details .addClass__button__group button{
    margin: 20px auto
  }
}