.homework-details
{   
     /*text-align: center;*/  
  display:block;
  height: 600px;
    width: 600px;
    margin:0 auto;
    background-color: #ebebeb;
}

.homework-type{
  margin-top: 10px;
}

.addHomework__button__group .saveHomeworkButton{
  display: block;
  margin: 20px auto;
}