.title{
  text-align: center;
    font-size: 30px;
    color: white;
    margin-top: 25px;
}
.HeaderListNav{
    width: 100%;
    height:80px;
    background-color: #336699;
    overflow: auto;
  }

  .HomeLink, .CalenderLink, .HomeworkLink{
    margin-top:20px;
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 29.5%; /* Four links of equal widths */
    text-align: center;
  }
  @media screen and (max-width: 640px) {

    .HeaderListNav{
      display:flex;
      justify-content: space-around;
      width: 100%;
      height:80px;
      background-color: #336699;
      overflow: auto;
    }

    .HomeLink, .CalenderLink, .HomeworkLink{
      flex-shrink: 1;
      margin-top:20px;
      float: left;
      padding: 12px;
      color: white;
      text-decoration: none;
      font-size: 17px;
      width: 19.5%; /* Four links of equal widths */
      text-align: center;
    }



  }