.HomeworkDetails__row
{
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    background-color: white;
}

.description, .class,.type, .dueDate, .dueTime{
    margin:0;
    padding:10px;
}
