.MessageWrapper {
    height: 100px;
    border-bottom: 1px solid grey;
    background-color: white;
}

.message {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

@media screen and (max-width:900px) {
    .MessageWrapper {
        height: 150px;
        border-bottom: 1px solid grey;
        background-color: white;
    }
}

@media screen and (max-width:500px) {
    .MessageWrapper {
        height: 200px;
        border-bottom: 1px solid grey;
        background-color: white;
    }
}