.Late{
    /*float:left;*/
    display:inline-block;
    width: 38%;
   /* margin-left: 28px;*/
}

.Upcoming{
    /*float:right;*/
    display:inline-block;
    width: 55%;
    margin-left: 28px;
}

.Late .HomeWorkList,.Upcoming .HomeWorkList{
 
   
    width: 100%;
    
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 28px;
    vertical-align: top;
}

@media screen and (max-width:900px) {



    .Late .HomeWorkList,.Upcoming .HomeWorkList {
        list-style-type:none;
    padding:0;
  
        display:inline-block;
       max-width: 85%;
        
        max-height: 100vh;
        background-color: #ebebeb;
        margin-left: 28px;
        vertical-align: top;
    }
   
}


@media screen and (max-width:500px) {

  .Upcoming{
      max-width: 35%;
  }
    
}