body {background-color: #336699;
    height: 100%;
    margin: 0px;
}

button{
    color:white;
    background-color: #336699;
}

.SchoolClassList{
    display:inline-block;
    width: 38%;
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 28px;
}

.HomeWorkList{
 
    display:inline-block;
    width: 55%;
    
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 28px;
    vertical-align: top;
}

@media screen and (max-width:900px) {

    .HomeWorkList{
       /* display:flex;*/
      /*  flex-shrink: 2;*/
        display:inline-block;
       max-width: 45%;
        
        height: 100vh;
        background-color: #ebebeb;
        margin-left: 28px;
        vertical-align: top;
    }
    .HomeWorkList div{
      /*  flex-shrink: 1;*/
       /* max-width: 55%;*/
    }

}

