body {background-color: #336699;
    height: 100%;
    margin: 0px;
}


.SchoolClassList{
/*  float: left;*/
    display:inline-block;
    width: 38%;
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 38px;
}

.HomeWorkList{
  /*  float:right;*/
    display:inline-block;
    width: 55%;
    
    height: 100vh;
    background-color: #ebebeb;
    margin-right: 38px;
    
}

