body {background-color: #336699;
    height: 100%;
    margin: 0px;
}


.SchoolClassList{
    float: left;
    width: 38%;
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 30px;
}

.HomeWorkList{
    float:right;
    width: 55%;
    
    height: 100vh;
    background-color: #ebebeb;
    margin-right: 30px;
    
}

