body {background-color: #336699;
    height: 100%;
    margin: 0px;
}

button{
    color:white;
    background-color: #336699;
}

.SchoolClassList{
    display:inline-block;
    width: 38%;
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 28px;
}

.HomeWorkList{
   
    display:inline-block;
    width: 55%;
    
    height: 100vh;
    background-color: #ebebeb;
    margin-left: 28px;
    vertical-align: top;
}

.titleAndAddButton{
    display:flex;
    flex-wrap: wrap;

}

.homeworkTitle, .addHomeWorkPath{
    flex-grow: 1;
}

@media screen and (max-width:900px) {

     .HomeWorkList{
        list-style-type:none;
    padding:0;
  
        display:inline-block;
       max-width: 45%;
        
        height: 100vh;
        background-color: #ebebeb;
        margin-left: 28px;
        vertical-align: top;
    }

    .SchoolClassList{
        margin-left: 20px;
    }
   
}

@media screen and (max-width:400px) {

   .HomeWorkList{
        list-style-type:none;
    padding:0;
  
        display:inline-block;
       width: 40%;
        
        height: 100vh;
        background-color: #ebebeb;
       /* margin-left: 28px;*/
        vertical-align: top;
    }

    .SchoolClassList{
        display:inline-block;
        width: 30%;
         
        /*margin-left: 20px;*/
    }
   
}
